@charset "utf-8";

/*
   Author: Michael Kroth
   Date:   9/16/19
*/

body {
    background: transparent;
}

.jumbotron {
    background: transparent;
}

#info {
    margin-top: 5%;
    font-size: 32pt
}

#total {
    color: rgb(8, 255, 8);
}