<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" [routerLink]="['/home']" style="width: 2%; margin: 0%;">
        <img src="assets/images/logo.png" id="logo">
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="['/movies']">Movies</a>
            <a class="nav-item nav-link" [routerLink]="['/shows']">Shows</a>
        </div>
    </div>
</nav>